* {
   overflow: clip;
   user-select: none;
}

body,
html,
#frame,
#splash {
   height: 100%;
   width: 100%;
}

body,
#frame,
#splash,
#wrapper {
   background-color: #000000;
}

body,
#frame {
   align-items: center;
   display: flex;
   justify-content: center;
}

body {
   margin: 0;
}

canvas,
#frame,
#wrapper {
   position: absolute;
}

#backdrop {
   height: 480px;
   width: 640px;
}

#frame {
   box-shadow: 0 0 2px 1px #ffffff;
}

#splash {
   filter: brightness(0);
   image-rendering: pixelated;
   object-fit: contain;
   z-index: 999;
}

#splash[visible=""] {
   filter: none;
}